/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Header Styles */
.header {
    background-color: #F0D3D3;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header img {
        max-width: 100px;
    }

    .header h2 {
        font-size: 1.5rem;
    }

.header-mid label {
    font-family: Arial Narrow;
    font-weight: bold;
    font-size: 50px;
    color: black;
}

    .header-mid label:nth-child(2) {
        font-size: 14px;
    }

    .header-mid label:hover {
        font-size: 70px;
    }

    .header-mid label:nth-child(2):hover {
        font-size: 30px;
    }


.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .sign svg {
        width: 17px;
    }

        .sign svg path {
            fill: var(--af-white);
        }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
}

    .Btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }
/* button click effect*/
.Btn:active {
    transform: translate(2px,2px);
}

/* Main Content Styles */
.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.content {
    width: 100%;
    background-color: rgb(254,254,254);
    border: 1px solid rgb(224,224,224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 400px;
}

.clear {
    clear: both;
}

.footer {
    margin-bottom: 10px;
    background-color: #F0D3D3;
    color: black;
    height: 50px;
    border-radius: 5px 5px 5px;
}

    .footer h2 {
        padding: 15px;
        text-align: center;
        font-family: Arial Narrow;
    }
